BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
UseTab: Never
SortIncludes: true
