name: Update README Automatically

on:
  push:
    branches:
      - main

# Thêm khối này để cấp quyền ghi vào repo
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # Đảm bảo fetch đủ lịch sử để thực hiện commit
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run update script
        run: python update_readme.py

      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          # Tránh lỗi nếu không có thay đổi gì mới
          git diff --quiet && git diff --staged --quiet || (git commit -m "docs: automated README update [bot]" && git push)
